* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON  */

.float {
    float: left;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.cflex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.middle {
    align-items:center;
}

.start {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}

.end {
    justify-content: flex-end;
}

.top {
    align-items:flex-start;
}

.bottom {
    align-items:flex-end;
}

.around {
    justify-content: space-around;
}

.between {
    justify-content: space-between;
}

/* COMMON */

body {
    font-family: 'Acme', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: grey;
    position: relative;
}

header {
    background-color: white;
    height: 70px;
    margin-bottom: 20px;
}

header #title {
    color: skyblue;
    padding-left: 10px;
    font-size: 3em;
}

main .row {
    width: calc(100% / 5 - 20px);
    height: 50px;
    padding: 40px;
    margin: 10px;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 5px 5px darkslategray;
    font-size: 1.2em;
}

footer {
    background-color: white;
    height: 70px;
    width: 100%;
    margin-top: 20px;
    position: absolute;
    bottom: 0px;
}

